* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: 'Kreon', serif;
}

/* NAVBAR */
.navbar {
  background-color: #212d39;
}

/* FOOTER */
footer {
  background-color: #212d39;
  color: white;
}

footer p {
  margin: 0;
  padding: 1.25rem 0;
}

footer elements {
  justify-content: space-between;
}

.social ul li {
  display: inline-block;
  padding-right: 0.312rem;
}

.social ul li a {
  color: white;
}
.social ul li .social ul li a:hover {
  color: whitesmoke;
}

<<<<<<< HEAD
.titre img{
  width: 100%;

}

.titre h1{
  color: white;
  background-color: #3e2c0a;
  text-align: center;
  position: relative;
  margin: 0;
}

.titre .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  min-height: 25rem;
}

.quiSommesNous .container{
  padding: 50px;
}

.quiSommesNous .row{
  padding: 50px;
}

.quiSommesNous .container h2{
  text-align: center;
  font-weight: bold;
}

.quiSommesNous .container h3{
  text-align: center;
  font-weight: bold;
}

.quiSommesNous .container p{
  text-align: center;
=======
section.stats {
  padding: 1rem;
  background-image: url("../img/kitchen-cake-backe-backing.jpg");
  width: 100%;
}

section.stats h3, section.stats p {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

section.carte #infosCartes div.row {
  margin-left: 0px;
}
section.carte #infosCartes div.row div.boissonsChaudes {
  padding: 1rem;
  color: black;
}
section.carte #infosCartes div.row div.boissonsFroides {
  padding: 10rem;
  color: black;
}
section.carte #infosCartes div.row div.gateaux {
  padding: 10rem;
  color: black;
>>>>>>> b1d5f5716524ef524df96423594173a257fc652b
}

/*# sourceMappingURL=style.css.map */
