@import "reset";

/* NAVBAR */

.navbar {
    background-color: #212d39;
}


/* FOOTER */

footer {
    background-color: #212d39;
    color: white;
}

footer p {
    margin: 0;
    padding: 1.25rem 0;
}

footer {
    elements {
        justify-content: space-between;
    }
}

.social {
    ul {
        li {
            display: inline-block;
            padding-right: 0.312rem;
        }
    }
}

.social {
    ul {
        li {
            a {
                color: white;
            }
            .social ul li a:hover {
                color: whitesmoke;
            }
        }
    }
}
// pour la gestion de ma section
section.stats {
    padding: 1rem;
    background-image: url("../img/kitchen-cake-backe-backing.jpg");
    width: 100%;
}
// pour les éléments dans ma section stats  
section.stats {
    h3, p{
    color: white;
    text-align: center;
    text-transform: uppercase;
    }
}

section.carte {
    #infosCartes {
        div.row {
            margin-left: 0px;
            div.boissonsChaudes {
                padding: 1rem;
                color : black ;
            }
            div.boissonsFroides {
                    padding: 10rem;
                    color : black ;
                }
            div.gateaux {
                    padding: 10rem;
                    color : black ;

            }
        }

     }

}